onnxruntime==1.20.1 # update ort for work with onnxruntime-gpu together
torchvision==0.13.0
Flask==2.3.2
numpy==1.26.4 # update numpy for work with windows RuntimeError: module compiled against API version 0x10 but this version of numpy is 0xe
pandas==1.3.5
pdf2image==1.16.0
pillow==10.4.0
flask-cors==3.0.10

# fix https://stackoverflow.com/a/77214086
Werkzeug==2.2.2
